<nav class="bg-[#665778]">
    <div class="flex items-center p-3">
        <span class="text-[#FFFFFF]">Mi CV</span>
        <span class="m-[auto]"></span>
        <div class="actions">
            <button class="text-[#FFFFFF] mx-4 hover:border-b-2 border-[#54357A]">Sobre mí</button>
            <button class="text-[#FFFFFF] mx-4 hover:border-b-2 border-[#54357A]">Tecnologías</button>
            <button class="text-[#FFFFFF] mx-4 hover:border-b-2 border-[#54357A]">Contáctame</button>
            <button class="text-[#FFFFFF] mx-4 bg-[#A991C7] rounded-[10px] h-[30px] w-[100px] hover:drop-shadow-xl">Administrar</button>
        </div>
    </div>
</nav>